/* animations.css */

/* Animation für fließenden Farbverlauf im Border */
@keyframes rgbBorderGlow {
  0% {
    border-image-source: linear-gradient(270deg, #ff3c78, #ff8cac, #ff3c78, #ff8cac);
  }
  50% {
    border-image-source: linear-gradient(270deg, #ff8cac, #ff3c78, #ff8cac, #ff3c78);
  }
  100% {
    border-image-source: linear-gradient(270deg, #ff3c78, #ff8cac, #ff3c78, #ff8cac);
  }
}
