#envelope {
    position: relative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: black;
    box-shadow: 0 10px 40px 10px #8a0707;
}
.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}
.flap {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 98px solid #460000;
    transform-origin: top;
     pointer-events: none;
}
.pocket {
    border-left: 140px solid rgb(24, 24, 24);
    border-right: 140px solid rgb(24, 24, 24);
    border-bottom: 90px solid #3b0000;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.letter {
    position: relative;
    background-color: #272727;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 0%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}
.letter:after {
    content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:
          linear-gradient(180deg,
        rgba(255,255,255,0) 25%,
        rgba(215,227,239,0.7) 55%,
        rgba(215,227,239,1) 100%);
    height: 120%
}
.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #EEEFF0;
}
.words.line1 {
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    top: 15%;
    width: 20%;
    height: 7%;
}
.words.line2 {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    top: 20%;
}
.words.line3 {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    top: 40%;
}
.words.line4 {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    top: 60%;
}
.open .flap {
    transform: rotateX(180deg);
    transition: transform .4s ease, z-index .6s;
    z-index: 1;
}
.close .flap {
    transform: rotateX(0deg);
    transition: transform .4s .6s ease, z-index 1s;
    z-index: 5;
}
.close .letter {
    transform: translateY(0px);
    transition: transform .4s ease, z-index 1s;
    z-index: 1;
}
.open .letter {
    transform: translateY(-150px);
    transition: transform .4s .6s ease, z-index .6s;
    z-index: 2;
}
.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}
.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
    pointer-events: none;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #D00000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.close .heart {
    opacity: 0;
    animation: none;
}
.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation:
        slideUp 4s linear 1,
        sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation:
    slideUp 5s linear 1,
    sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation:
        slideUp 7s linear 1,
        sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
@keyframes slideUp {
    0% {
    top: 0;
}
    100% {
    top: -600px;
}
}
@keyframes sideSway {
    0% {
    margin-left: 0px;
  }
    100% {
    margin-left: 50px;
 }
}
body {
   background-color: #b8d4e6;
}
.envlope-wrapper {
   height: 380px;
}
.reset {
   text-align: center;
}
.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all .1s linear;
    -webkit-appearance: none; 
    background-color: transparent;
    border: solid 2px #0077B2;
    border-radius: 4px;
    color: #0077B2;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}
.reset button:hover {
    background-color: #0077B2;
    color: #fff;
}

p{
    margin-top: 0px;
    margin-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}